name: Deploy to GAS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Create .clasprc.json
        run: echo '${{ secrets.CLASP_SECRET }}' > ~/.clasprc.json

      - name: Push to GAS
        run: npx clasp push --force

      - name: Deploy to GAS
        run: npx clasp deploy -i AKfycbz7qdDHo6roaGhotTY-DRc1VYY1L5_3a_knBRUH2SZjCjuGIDrsSqcYXQupFv1PM-p5GA --description "Automated deployment by GitHub Actions"
